<!-- CONTAINER -->
<div class="container header-bg" id="container">

    <!-- HEADER -->
    <header class="header">
        <h1>François Gouteroux</h1>
        <p>{{ site.header_description }}</p>
        <div class="social-icons">
        {% for icon in site.social-icons %}
            <i class="fa fa-{{icon.class}} fa-2x"></i> 
            <a href="{{ icon.url }}" target="blank">{{ icon.title }}</a>
            &nbsp;
        {% endfor %}
        </div>

        <!-- NAV MENU -->
        <ul class="vs-nav">
            <li><a href="#/about">about me</a></li>
            <li><a href="#/contact">contact</a></li>
            <li><a href="#/resume">resume</a></li>
        </ul>
        <!-- NAV MENU -->

    </header>
    <!-- HEADER -->
